{{ define "main" }}
<section class="section is-medium">
  <div class="container">
<h2 class="title">{{ .Title }}</h2>
<div class="columns is-multiline">
{{ range .Sections }}
<div class="column is-one-third">
<div class="card">
  <div class="card-image">
    <figure class="image is-16x9">
      <a href="{{ .Permalink }}"><img src="{{ .URL }}{{ .Params.cover_img }}" alt="slidedeck cover image"></a>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
          <p class="heading"><time datetime="{{ .Date }} ">{{ .Date.Format "January 2, 2006" }}</time></p>
      <h3 class="title"><a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a></h3>
      
    </div>
  </div>
</div>
</div>
{{ end }}
</div>
</div>
</section>
{{ end }}