{{ define "main" }}
<section>
  <div class="hero is-img is-medium">
    <div class="hero-body has-opacity">
      <div class="container">
        <h1 class="title has-text-white" style="padding-top:2rem;">
          {{- .Site.Params.course.name -}}
        </h1>
        <h2 class="subtitle has-text-white">
            {{- .Site.Title -}}
        </h2>
        <p class="has-text-white">
          {{- .Site.Params.course.day_time}}<br />
          {{ .Site.Params.course.location }}
        </p>
      </div>
    </div>
  </div>
  {{ with .Site.Params.course.hero_img_credit }}
  <div class="container">
    <p class="has-text-right is-size-7">[ {{ . | safeHTML }} ]</p>
  </div>
  {{ end }}
</section>
<section class="section">
  <div class="container">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
{{ partial "instructors.html" . }}
{{ end }}