<!-- override this partial to add content before the head tag closes -->
<style>
    @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Code+Pro');
    
    .reveal pre code {
        padding: 25px;
        font-family: "Source Code Pro", monospace;
        text-transform: none; 
        line-height: 1.2;}
        
    .reveal code:not(.hljs) {
            padding: 0.3rem 0.5rem;
            background-color: rgba(127,127,127,.3);
            border-radius: 8px; }
    
    html.opacity20 .slide-background {
        opacity: 0.2 !important;
    }
    html.opacity30 .slide-background {
        opacity: 0.3 !important;
    }
    
    html.opacity40 .slide-background {
        opacity: 0.4 !important;
    }
    
    html.opacity50 .slide-background {
        opacity: 0.5 !important;
    }
    
    html.opacity60 .slide-background {
        opacity: 0.6 !important;
    }
    
    html.opacity70 .slide-background {
        opacity: 0.7 !important;
    }
    
    html.opacity80 .slide-background {
        opacity: 0.8 !important;
    }
    
    .bullet {
        list-style:disc outside none;
        display:list-item;
        text-align: left;
        position: inherit;
        left: 400px;
    }
</style>